.clear-button
    z-index: 255
    cursor: pointer
    opacity: 90%

.clear-button:hover
    opacity: 70%

.input-area__clear-button-container
    position: absolute
    text-align: right
    top: 30px
    left: calc(100% - 45px) 
    
.input-area
    font-size: 1.2rem
    padding: 2.3rem 1rem 2rem 1rem
    font-family: Arial, Helvetica, sans-serif
    border-radius: 5px
    border: solid 1px #979797
    width: 100%
    flex-grow: 1
    background: white
    display: inline-block
    resize: none

.input-area::placeholder
    color: #b2aeb2

.input-area:focus
    outline: none

.input-area__header
    margin: 0
    text-align: center

.input-area__wrapper
    position: relative
    width: 45%
    height: 100%
    display: flex
    flex-flow: column


