@media screen and (max-width: 600px)
    .input-area__wrapper
        width: 90%
    .content-wrapper
        flex-wrap: wrap
        height: calc(100vh - 47px)
    .line-icon
        width: 35px
        height: 29px
    .nav-bar
        height: 45px
    .nav-bar__wrapper
        padding: 0
    .mode-icon__wrapper
        position: absolute
        top: -16.5px
        display: flex
        justify-content: center
        text-align: center
    .mode-setting-button
        width: 50px
        height: 35px
        padding: 2px 2px 2px 2px
        margin-right: 0
        background: white
        border-top: 1px solid #979797
        border-left: 1px solid #979797
        border-right: 1px solid #979797
    .mode-setting-button--grayout
        background: #BAB9B9 !important
    .output-area
        border-top-left-radius: 0
    .output-area__wrapper
        width: 90%
    #setting-component-wrapper
        background: transparent
        width: auto
    .setting-icon__wrapper
        background: #a6b9e3  
    #setting-window
        width: 280px
        left: -290px
        top: 25px
    #setting-window form::before
        left: 86%
    #setting-window form::after
        left: 86.2%
    
@media screen and (max-height: 370px)
    #setting-window form::before
        bottom: 89%
        left: 100%
        border-color: transparent transparent transparent #979797
    
    #setting-window form::after
        bottom: 89.7%
        left: 100%
        border-color: transparent transparent transparent #EEEEEE 

    #setting-window 
        left: -343px
        top: -28px
