@media screen and (max-width: 600px)
    .input-area__wrapper
        width: 90%
    .content-wrapper
        flex-wrap: wrap
        height: calc(100vh - 47px)
    .line-icon
        width: 35px
        height: 29px
    .nav-bar
        height: 45px
    .nav-bar__wrapper
        padding: 0
    .nav-bar__site-logo
        height: 40px
    .output-area__wrapper
        width: 90%
    #setting-component-wrapper
        background: transparent
        width: auto
    .setting-icon__wrapper
        border: 0
    #setting-window
        width: 280px
        left: -290px
        top: 25px
    #setting-window form::before
        left: 86%
    #setting-window form::after
        left: 86.2%

@media screen and (max-height: 380px)
    #setting-window form::before
        bottom: 90%
        left: 100%
        border-color: transparent transparent transparent #979797
    
    #setting-window form::after
        bottom: 90.4%
        left: 100%
        border-color: transparent transparent transparent white

    #setting-window 
        left: -343px
        top: -30px
