#nav-bar
    width: 100%
    height: 57px
    background: #CBD6EF
    display: flex
    justify-content: center
    
#nav-bar-wrapper
    width: 100%
    max-width: 1650px
    padding: 0 20px 0 20px
    display: flex    
    justify-content: space-between

#menu-wrapper
    align-self: flex-end
    display: flex

#mode-menu-wrapper
    display: inline-block

#setting-component-wrapper
    position: relative
    display: inline-block
    width: 64px
    height: 43px
    padding-top: 10px
    background: #EFEFEF
    text-align: center

#setting-window
    position: absolute
    top: 55px
    left: -235px
    width: 300px
    height: 300px
    z-index: 255
    background-color: #EEEEEE
    border: 1px solid #979797
    border-radius: 2px
    text-align: left

#setting-window form
    padding: 16px 16px 0 16px
    position: relative

/* To draw the border of the arrow of the tooltip */
#setting-window form::before
    content: ""
    position: absolute
    border: solid 16.5px
    z-index: 254
    display: inline-block
    bottom: 100%
    left: 84.0%
    border-color: transparent transparent #979797 transparent

/* To draw the arrow of the tooltip */
#setting-window form::after
    content: ""
    position: absolute
    border: solid 15.2px
    z-index: 255
    display: inline-block
    bottom: 100%
    left: 84.3%
    border-color: transparent transparent #EEEEEE transparent


.setting-window__btn-wrapper
    margin-top: 50px
    text-align: right

.setting-window__btn-wrapper button
    width: 80px
    height: 40px
    border: 1px solid #979797
    border-radius: 2px
    font-size:16px

.setting-window__item-wrapper
    margin-bottom: 15px

.setting-window__item-wrapper label
    margin-left: 5px

.setting-window__item-wrapper input[type='radio']
    margin-top: 6px

#setting-window__save-button
    background: #69A5FF
    border: 1px solid #507fc6
    margin-left: 4px
    color: white

#setting-window__cancel-button
    background: white

#setting-window ul
    padding-left: 20px
    margin: 0

#setting-window__user-input
    margin-top: 10px
    width: 90%
    height: 37px
    font-size: 18px

#site-logo
    width: 50px
    height: 37px