#output-area
    width: 450px
    height: 860px
    background: white
    display: inline-block
    border: 1px solid gray
    padding: 2px
    overflow: scroll

.output-area__token
    display: inline-block
    border: solid 1px red
    