#output-area
    width: 45%
    height: 100%
    background: white
    border: 1px solid gray
    padding: 2rem 1rem 2rem 1rem
    overflow: scroll
    font-size: 1.2rem
    font-family: Arial, Helvetica, sans-serif
    border-radius: 5px
    border: solid 1px #979797

#output-area p
    margin: 0
    min-height: 1.3rem

.token
    display: inline-block
    border: solid 2px #979797
    cursor: pointer
    margin-right: 0.5rem
    padding: 0.4rem 0.3rem 0.4rem 0.3rem
    border-radius: 0.2rem

.token--grayout
    background: #E0E0E0

.token:hover
    border: solid 2px red

.token:active
    background: yellow
