@use './output-area'
@use './input-area'
@use './nav-bar'
@use "./content"
@use './media-query'

/* For general CSS rules */

* 
    box-sizing: border-box

body
    margin: 0
    width: 100vw
    height: 100vh
    font-family: Arial, Helvetica, sans-serif

html 
    background-color: #EFEFEF
