@use './output-area'
@use './input-area'
@use './nav-bar'

* 
    box-sizing: border-box

body
    margin: 0
    width: 100vw
    height: 100vh

html 
    background-color: #EFEFEF


#content__wrapper
    display: flex
    // max-width: 1560px
    padding-top: 30px
    gap: 0.5rem
    justify-content: center
    align-content: center
    width: 100vw