@use './output-area'
@use './input-area'
@use './nav-bar'

* 
    box-sizing: border-box

body
    margin: 0
    width: 100vw
    height: 100vh
    background-color: #EFEFEF

html 
    background: lightblue


#content__wrapper
    display: flex
    justify-content: center